In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression

In [2]:
# Loading clustered dataset
file = "Resources/MLM/clustered_data.csv"
clustered_df = pd.read_csv(file, index_col=0)
clustered_df.head(10)

,abortion_status,total_community_health_centers,uninsured,total_insured,maternal_mortality,population,land_area_sqmi,no_doctor_visits,mammogram,no_provider,...,abortions_occurring_state,abortions_residence_state,no_services,few_services,restricted_services,full_service,PC 1,PC 2,PC 3,Class
state,,,,,,,,,,,,,,,,,,,,,
Alabama,Abortion Ban In Effect,17,165700,1462900,109.285826,4767100,50645,0.12,0.74,0.13,...,5700,9060,8,44,5,0,-3.441609,1.226503,0.812852,0
Alaska,Abortion Available,27,29200,207200,84.486218,701700,570641,0.12,0.63,0.23,...,1240,1320,3,7,0,4,-2.944785,0.679185,3.155152,0
Arizona,Status of pre-Roe ban unclear,23,309000,2132900,87.072920,7098000,113594,0.11,0.68,0.19,...,13320,13820,19,28,7,0,-1.713550,1.250492,0.170481,0
Arkansas,Abortion Ban In Effect,12,83800,865900,124.819154,2922500,52035,0.12,0.70,0.13,...,3250,4510,9,31,3,0,-3.252214,0.370151,1.473720,0
California,Abortion Available,175,1034300,11885100,32.123048,38642700,155779,0.09,0.68,0.19,...,154060,152400,51,97,0,124,10.480858,9.234399,-1.186718,2
Colorado,Abortion Available,19,204300,1758600,43.906723,5611800,103642,0.11,0.67,0.17,...,13420,11830,17,34,0,15,-0.319058,-0.121292,-0.656476,1
Connecticut,Abortion Available,16,58100,1038000,53.795577,3453300,4842,0.07,0.78,0.10,...,11170,11460,12,8,0,18,3.635465,-3.194741,-0.861823,4
Delaware,Abortion Available,3,24800,295800,48.113934,940300,1949,0.09,0.74,0.12,...,1830,2870,10,0,0,2,2.135973,-3.430561,0.971375,4
District of Columbia,Abortion Available,8,7600,251600,78.882128,671300,61,0.06,0.74,0.15,...,9410,5010,2,0,0,2,2.323861,-3.451662,0.935299,4
Florida,"Abortion available, pre-viability gestational ...",47,1011800,6381600,67.248213,20992000,53625,0.14,0.74,0.20,...,77400,73830,22,129,0,48,0.900520,6.484922,-1.530564,3

In [3]:
clustered_df.dtypes

abortion_status                               object
total_community_health_centers                 int64
uninsured                                      int64
total_insured                                  int64
maternal_mortality                           float64
population                                     int64
land_area_sqmi                                 int64
no_doctor_visits                             float64
mammogram                                    float64
no_provider                                  float64
pap_smear                                    float64
prescription_contraception                    object
otc_methods                                   object
male_sterilization                            object
female_sterilization                          object
cost_sharing                                  object
teen_births                                  float64
poverty_under_200                            float64
percent_of_all_us_abortions                  float64
percent_residents_traveling_outside_state      int64
abortions_occurring_state                      int64
abortions_residence_state                      int64
no_services                                    int64
few_services                                   int64
restricted_services                            int64
full_service                                   int64
PC 1                                         float64
PC 2                                         float64
PC 3                                         float64
Class                                          int64
dtype: object

In [4]:
#chc_df = pd.get_dummies(data = clustered_df.drop(columns=['PC 1','PC 2','PC 3']),
#                        columns=['abortion_status','prescription_contraception',
#                              'otc_methods','male_sterilization','female_sterilization','cost_sharing'])
#chc_df

In [5]:
chc_df = clustered_df[['total_community_health_centers','population','land_area_sqmi','Class']]
chc_df

,total_community_health_centers,population,land_area_sqmi,Class
state,,,,
Alabama,17,4767100,50645,0
Alaska,27,701700,570641,0
Arizona,23,7098000,113594,0
Arkansas,12,2922500,52035,0
California,175,38642700,155779,2
Colorado,19,5611800,103642,1
Connecticut,16,3453300,4842,4
Delaware,3,940300,1949,4
District of Columbia,8,671300,61,4
Florida,47,20992000,53625,3
Georgia,35,10294000,57513,0
Hawaii,14,1343000,6423,1
Idaho,14,1750900,82643,0
Illinois,45,12362300,55519,4
Indiana,27,6511800,35826,0
Iowa,14,3060200,55857,1
Kansas,19,2811200,81759,0
Kentucky,25,4319300,39486,0
Louisiana,36,4498600,43204,0
Maine,18,1302300,30843,4
Maryland,17,5875500,9707,4
Massachusetts,37,6650800,7800,4
Michigan,39,9765600,56539,1
Minnesota,16,5514800,79627,1
Mississippi,20,2867100,46923,0
Missouri,28,5939900,68742,0
Montana,14,1039400,145546,0
Nebraska,7,1873600,76824,0
Nevada,8,3029700,109781,4
New Hampshire,10,1314000,8953,1
New Jersey,23,8699400,7354,4
New Mexico,16,2041400,121298,4
New York,63,18908300,47126,2
North Carolina,39,10139700,48618,1
North Dakota,4,731000,69001,0
Ohio,51,11351500,40861,0
Oklahoma,21,3826900,68595,0
Oregon,30,4128900,95988,4
Pennsylvania,42,12377600,44743,1
Rhode Island,8,1017100,1034,1
South Carolina,23,4984200,30061,0
South Dakota,4,851300,75811,0
Tennessee,29,6640900,41235,0
Texas,72,28286200,261232,3
Utah,13,3154100,82170,0
Vermont,11,598100,9217,4
Virginia,26,8185100,39490,4
Washington,27,7423900,66456,4
West Virginia,28,1739000,24038,0
Wisconsin,16,5677100,54158,1
Wyoming,6,562700,97093,0

In [6]:
#chc_df = clustered_df[['PC 1','PC 2','PC 3','Class','total_community_health_centers']]

In [7]:
#training_df = chc_df[(chc_df['Class']==4) | (chc_df['Class']==2)]
training_df = chc_df[chc_df['Class']==4]
X_train = training_df.drop(columns='total_community_health_centers')
y_train = training_df['total_community_health_centers']

In [8]:
fit_df = chc_df
X = fit_df.drop(columns=['total_community_health_centers'])
y = fit_df[['total_community_health_centers']]

In [9]:
# Creating an object of LinearRegression class
LR = LinearRegression()

# Fitting the training data
LR.fit(X_train, y_train)

LinearRegression()

In [10]:
y_pred = LR.predict(X)
y_pred

array([ 20.93461749,  25.3555075 ,  29.05046266,  16.02234673,
       115.00112832,  24.76605675,  16.05570467,   9.22226197,
         8.44423349,  64.59093395,  35.97847458,  10.43558836,
        13.77907482,  41.47362737,  25.18253126,  16.50484242,
        16.60020433,  19.40300633,  19.99414217,  11.04658177,
        22.70348931,  24.7291396 ,  34.53084319,  23.79724587,
        15.72280026,  24.61769852,  13.72386359,  13.9369235 ,
        18.01346604,  10.43233926,  30.21705164,  15.69930428,
        58.80392108,  35.30177167,  10.63797652,  38.32699752,
        18.93936342,  20.55829334,  41.19686679,   9.40150303,
        20.9104531 ,  11.16188139,  25.68874316,  90.30142058,
        17.53310998,   8.51773329,  29.78388448,  28.53522874,
        12.01852602,  23.48184171,  11.01463615])

In [11]:
compare_df = y['total_community_health_centers'].to_frame()
compare_df['predictions'] = y_pred.astype(int)
compare_df['addl_chc_needed'] = compare_df['predictions'] - compare_df['total_community_health_centers']
compare_df['Class'] = chc_df['Class']
compare_df = compare_df[compare_df['addl_chc_needed']>0]
compare_df.sort_values(by=['addl_chc_needed'],ascending=False)

,total_community_health_centers,predictions,addl_chc_needed,Class
state,,,,
Texas,72,90,18,3
Florida,47,64,17,3
Nevada,8,18,10,4
New Jersey,23,30,7,4
Wisconsin,16,23,7,1
South Dakota,4,11,7,0
Minnesota,16,23,7,1
Delaware,3,9,6,4
North Dakota,4,10,6,0
Nebraska,7,13,6,0
Arizona,23,29,6,0
Wyoming,6,11,5,0
Maryland,17,22,5,4
Colorado,19,24,5,1
Utah,13,17,4,0
Arkansas,12,16,4,0
Virginia,26,29,3,4
Alabama,17,20,3,0
Iowa,14,16,2,1
Rhode Island,8,9,1,1
Washington,27,28,1,4