In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
# Loading clustered dataset
file = "Resources/MLM/clustered_data.csv"
clustered_df = pd.read_csv(file, index_col=0)
clustered_df.head(10)

,abortion_status,total_community_health_centers,uninsured,total_insured,maternal_mortality,population,no_doctor_visits,mammogram,no_provider,pap_smear,...,abortions_occurring_state,abortions_residence_state,no_services,few_services,restricted_services,full_service,PC 1,PC 2,PC 3,Class
state,,,,,,,,,,,,,,,,,,,,,
Alabama,Abortion Ban In Effect,17,165700,1462900,109.285826,4767100,0.12,0.74,0.13,0.74,...,5700,9060,8,44,5,0,-3.267783,1.337553,1.029155,0
Alaska,Abortion Available,27,29200,207200,84.486218,701700,0.12,0.63,0.23,0.65,...,1240,1320,3,7,0,4,-2.669729,0.019752,1.711832,0
Arizona,Status of pre-Roe ban unclear,23,309000,2132900,87.072920,7098000,0.11,0.68,0.19,0.69,...,13320,13820,19,28,7,0,-1.591590,1.244346,0.015798,0
Arkansas,Abortion Ban In Effect,12,83800,865900,124.819154,2922500,0.12,0.70,0.13,0.68,...,3250,4510,9,31,3,0,-3.104954,0.413113,1.481594,0
California,Abortion Available,175,1034300,11885100,32.123048,38642700,0.09,0.68,0.19,0.74,...,154060,152400,51,97,0,124,11.019388,8.537739,-1.359630,2
Colorado,Abortion Available,19,204300,1758600,43.906723,5611800,0.11,0.67,0.17,0.69,...,13420,11830,17,34,0,15,-0.433248,-0.007600,-0.692206,4
Connecticut,Abortion Available,16,58100,1038000,53.795577,3453300,0.07,0.78,0.10,0.80,...,11170,11460,12,8,0,18,3.369985,-3.253541,-0.968817,1
Delaware,Abortion Available,3,24800,295800,48.113934,940300,0.09,0.74,0.12,0.75,...,1830,2870,10,0,0,2,1.998559,-3.607502,0.695530,1
District of Columbia,Abortion Available,8,7600,251600,78.882128,671300,0.06,0.74,0.15,0.80,...,9410,5010,2,0,0,2,2.148893,-3.590378,0.751697,1
Florida,"Abortion available, pre-viability gestational ...",47,1011800,6381600,67.248213,20992000,0.14,0.74,0.20,0.73,...,77400,73830,22,129,0,48,1.307914,6.457762,-1.272720,3

In [4]:
clustered_df.dtypes

abortion_status                               object
total_community_health_centers                 int64
uninsured                                      int64
total_insured                                  int64
maternal_mortality                           float64
population                                     int64
no_doctor_visits                             float64
mammogram                                    float64
no_provider                                  float64
pap_smear                                    float64
prescription_contraception                    object
otc_methods                                   object
male_sterilization                            object
female_sterilization                          object
cost_sharing                                  object
teen_births                                  float64
percent_of_all_us_abortions                  float64
percent_residents_traveling_outside_state      int64
abortions_occurring_state                      int64
abortions_residence_state                      int64
no_services                                    int64
few_services                                   int64
restricted_services                            int64
full_service                                   int64
PC 1                                         float64
PC 2                                         float64
PC 3                                         float64
Class                                          int64
dtype: object

In [18]:
chc_df = clustered_df[['Class','population','total_community_health_centers','no_services',
                     'few_services','restricted_services','full_service']]
chc_df.shape

(51, 7)

In [19]:
chc_df.head()

,Class,population,total_community_health_centers,no_services,few_services,restricted_services,full_service
state,,,,,,,
Alabama,0,4767100,17,8,44,5,0
Alaska,0,701700,27,3,7,0,4
Arizona,0,7098000,23,19,28,7,0
Arkansas,0,2922500,12,9,31,3,0
California,2,38642700,175,51,97,0,124

In [20]:
train_chc_df = chc_df.loc[chc_df['Class'] == 1]
train_chc_df.head()

,Class,population,total_community_health_centers,no_services,few_services,restricted_services,full_service
state,,,,,,,
Connecticut,1,3453300,16,12,8,0,18
Delaware,1,940300,3,10,0,0,2
District of Columbia,1,671300,8,2,0,0,2
Illinois,1,12362300,45,25,72,0,25
Maine,1,1302300,18,4,7,0,19

In [22]:
train_chc_df.shape

(14, 7)